<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <title>Dishes Edit</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Edit Dish</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="login.html">logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <form action="/dishes/<%= dataDish.id%>/edit" method="POST">
        Description:
        <br>
        <input type="text" name="description" value=<%=dataDish.description %> >
        <br> Image:
        <br>
        <input type="text" name="image" value=<%=dataDish.image %>>
        <br> Price:
        <br>
        <input type="text" name="price" value=<%=dataDish.price %>>
        <br> Duration:
        <br>
        <input type="text" name="duration" value=<%=dataDish.duration %>>
        <br>
        <br>
        <input type="submit" value="update">
        <p>
            <%= dataDish.description%>
        </p>
    </form>
</body>

</html>